/* ____________________RESET RULES __________*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
/* ___________DEBUG RULES_________________ */
header{
    background-color: fuchsia;
}
.nav{
    background-color: rosybrown;
}


/* _________PROPERTY CLASS___________________ */
.flex{
    display: flex;
}
.flex-evenly{
    justify-content: space-evenly;
    
}
.d-inline{
    display: inline;
}
.jc-s-between{
    justify-content: space-between;
}
.d-inline-b{
    display: inline-block;
}
.p-relative{
    position: relative;
}
.p-absolute{
    position: absolute;
}
/* __________TAG__________________________ */
header{

}
nav{
    width: 100%;    
}
h1{
    font-size: 7rem;
    margin-top: 5rem;
    font-weight: bold;
}
/* _________CLASS TAG______________________ */
.container-100{
    width: 100%;
}
.container-80{
    width: 80%;
    margin: auto;
}
.container-70{
    width: 70%;
    margin: auto;
}
.container-60{
    width: 60%;
    margin: auto;
}
.col-3{
    width: calc(100%/3)-10px;
    border: 2px red solid;
}
.left-menu{
}
.right-menu{

}
.left-menu span, .right-menu span{
    padding: 18px;
    line-height: 63px;
    display: inline-block;
}
.right-menu button{
    margin-right: 15px;
}
.btn{
    padding: 20px 65px;
    font-size: 1.5rem;
}
.btn-blue{
    background-color: blue;
    color: white;
}
.text-business{
    width: 40%;
    font-size: 4rem;
}
.text-business p, .text-business button{
    margin-bottom: 113px;
    font-size: 1.5rem;
}
.business img-jumbo{
    width: 50%;
}
.img-jumbo>img{
    width: 100%;
}
.business{
    margin-top: 74px;
}
.jumbotrone{
    margin: auto;
    flex-direction: column;
}
.jumbo{
    background-color: rgba(180, 208, 231, 1);
}
/* ____SEZIONE PLAN BUSINESS____________ */
.business-plan{
    margin-top: 6%;
    background-color: yellow;
}
.title-h2>h2{
    font-size: 4rem;
}
.description_plan>h3{
    font-size: 2.4rem;
}
.description-plan button{
    margin-top: 2rem;  
}

.select{
    font-size: 1.4rem;
    padding-top: 5rem;
    width: 30%; 
}
.plan-type{
    text-align: center;
    font-size: 1.5rem;
    border: black 1px solid;
    padding: 20px 40px;
}
.users-type{
    margin-top: 5rem;
}
.description-plan ul{
    margin-top: 2.6rem;
}
ul li{
    list-style: none;
    line-height: 5rem;
    font-size: 1.5rem;
}
.description-plan{
    margin-left: 2rem;
}
.description-plan h3{
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: bold;
}
.description-plan p{
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 3rem;
}
.periodo{
    color: lightslategrey;
}

