/* ____________________RESET RULES __________*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    font-size: 1.8rem;
}
/* ___________DEBUG RULES_________________ */
header{
    background-color: fuchsia;
}
.nav{
    background-color: rosybrown;
}

/* ______RESET STYLE RULES___________________ */
/* .bg-lightgray{
    background-color: lightgray;
}
.bg-lightcoral{
    background-color: lightcoral;
}
.bg-lightseagreen{
background-color: lightseagreen;
}
.bg-limegreen{
    background-color: limegreen;
}
.bg-fuchsia{
    background-color: fuchsia;
}
.bg-darkkhaki{
    background-color: darkkhaki;
} */
.bg-black{
    background-color: black;
    color: white;
}


/* _________PROPERTY CLASS___________________ */
.flex{
    display: flex;
}
.flex-evenly{
    justify-content: space-evenly;   
}
.f-wrap{
    flex-wrap: wrap;
}
.d-inline{
    display: inline;
}
.jc-s-between{
    justify-content: space-between;
}
.d-inline-b{
    display: inline-block;
}
.p-relative{
    position: relative;
}
.p-absolute{
    position: absolute;
}
/* _____FORM________________________________ */
.square{
    width:30%;
    height: calc(100vw/3);
}
.square-sm{
    width: 50%;
    height: 50%;
    /* font-size: 3rem; */
    border-style: inset;
}
.square-sm img{
    width: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert();
}


/* _______background color________________ */
.designit{
    background-color:rgba(162, 211, 155, 1) ;
}
.asu{
    background-color: rgba(97, 8, 43, 1);
}
.u-florida{
    background-color:rgba(0, 147, 206, 1) ;
}
.topps{
    background-color:rgba(255, 28, 28, 1) ;
}
.wbr{
    background-color: rgba(213, 0, 31, 1);
}
.hearst{
    background-color:rgba(180, 208, 231, 1);
}
.lonely-p{
    background-color:rgba(13, 36, 129, 1);
}
.c-channel{
    background-color:rgba(255, 216, 48, 1);
}




/* __________TAG__________________________ */
header{

}
nav{
    width: 100%;    
}
h1{
    /* font-size: 7rem; */
    margin-top: 5rem;
    /* font-weight: bold; */
}
section{
    margin-top: 7rem;
    width: 100%;

}
/* _________CLASS TAG______________________ */
.container-100{
    width: 100%;
}
.container-80{
    width: 80%;
    margin: auto;
}
.container-70{
    width: 70%;
    margin: auto;
}
.container-60{
    width: 60%;
    margin: auto;
}
.col-3{
    width: calc(100% / 3);
    border: 2px red solid;
}

.col-5{
    width: calc(100%/5);
}

.col-100{
    width: 100%;
}
.row{
    width: 100%;
}

.left-menu{
}
.right-menu{

}
.left-menu span, .right-menu span{
    padding: 18px;
    line-height: 63px;
    display: inline-block;
}
.right-menu button{
    margin-right: 15px;
}
.btn{
    padding: 20px 65px;
    /* font-size: 1.5rem; */
    border-radius: 30px;
}
.btn-blue{
    background-color: rgb(56, 165, 202);
    color: white;
}
.text-business{
    width: 40%;
    /* font-size: 4rem; */
}
.text-business p, .text-business button{
    margin-bottom: 113px;
    /* font-size: 1.5rem; */
}
.business img-jumbo{
    width: 50%;
}
.img-jumbo>img{
    width: 100%;
}
.business{
    margin-top: 74px;
}
.jumbotrone{
    margin: auto;
    flex-direction: column;
}
.jumbo{
    background-color: rgba(180, 208, 231, 1);
}
/* ____SEZIONE PLAN BUSINESS____________ */
.business-plan{
    margin-top: 6%;
    /* background-color: yellow; */
}
.title-h2>h2{
    /* font-size:4rem; */
}
.description_plan>h3{
    /* font-size: 2.4rem; */
}
.description-plan button{
    margin-top: 2rem;  
}

.select{
    /* font-size: 1.4rem; */
    padding-top: 5rem;
    width: 30%; 
}
.plan-type{
    text-align: center;
    /* font-size: 1.5rem; */
    border: black 1px solid;
    padding: 20px 40px;
}
.users-type{
    margin-top: 5rem;
}
.description-plan ul{
    margin-top: 2.6rem;
}
ul li{
    list-style: none;
    /* line-height: 5rem; */
    /* font-size: 1.5rem; */
    text-indent: -20px;
    padding-left: 1.2;
    margin-top: 2rem ;
}

.description-plan{
    margin-left: 2rem;
    padding: 0px 51px;
}
.description-plan h3{
    margin-top: 2rem;
    /* font-size: 2rem;
    font-weight: bold; */
}
.description-plan p{
    /* font-size: 1.4rem;
    font-weight: bold;
    line-height: 3rem; */
}
.periodo{
    color: lightslategrey;
}
.tick-point{
    /* font-size: 1.5rem;
    font-weight: bold; */
    background: red;
}
.users-type .col-3{
    height: 83rem;
    border: 2px red solid;
    flex-basis: 31%;
}

.users-type .col-100{
    border: 2px  solid;
    border: 2px solid;
    margin-top: 57px
}
.find-partner .container-70{
    align-items: center;
}
.text-team-b{
    width: 70%;
}
.description-plan .soluzioni{
    /* font-weight: normal; */
}
.find-partner .img{
    /* background-image: url(../img/dropbox-risorse/img/partner.png);
    background-size: cover;
    background-position: center;*/
    width: 60%;
    /* height: 60rem; */
    background-color: orange;
    /* background-repeat: no-repeat; */ 
}
.find-partner img{
    width: 100%;
}
.find-partner .text{
    width: 30%;
    /* font-size: 4rem; */
    margin: 6rem 0rem 3rem 0rem;
}
.find-partner p{
    margin-top: 2rem;
}
/* _BUSINESS DROPBOX__________ */

.dropbox-business{
    background-color: lightblue;
}
.dropbox-business .container-70{
    background-color: lightgreen;
}
.dropbox-business div{ 
   
} 
.dropbox-business .text{
    background-color: pink;
}
.dropbox-business h2{
    /* font-size: 7rem; */
    padding: 10rem 3rem;
}
.dropbox-business a{
    padding: 0rem 4rem;
    /* font-size: 3rem; */
}
.dropbox-business img{
    width: 100%;
}
.dropbox-business .row{
    width: 100%;
    margin-top: 2rem;
    border: #f3f308 79px dashed;
}
.dropbox-business .col-3{
    border: 2px red solid;
    flex-basis: 29%;
    margin-top: 4rem;
    /* font-size: -webkit-xxx-large; */
}
.dropbox-business p{
    margin-top: 2.5rem;
}
.dropbox-business h2{
    padding-bottom: 23rem;
    padding-top: 5rem;
}
/* _SPONSOR AGENCY______ */


.sponsor-agency h2{
    /* font-size: 7rem; */
    padding: 10rem 3rem;
}